// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resize{
  width: 2.7rem;
  height: 2.7rem;
}
.resize-5{
  width: 3.5rem;
  height: 3.5rem;
}


.resize-2{
  width: 11rem;
  height: 11rem;
}
